---
- name: Destroy check services
  ansible.builtin.systemd:
    name: "{{ service.systemd.name }}"
  register: services_statuses
  loop_control:
    loop_var: service
  loop: "{{ mesv_install_service | default([]) + mesv_config_service | default([]) }}"

- name: Destroy fail running
  ansible.builtin.fail:
    msg: "Stop [{{ active_services | join(',') }}] services first"
  when: "active_services | length > 0"
  ignore_errors: "{{ ansible_check_mode }}"
  vars:
    active_services: "{{ services_statuses.results | selectattr('status.ActiveState',
      'equalto', 'active') | selectattr('status.SubState', 'equalto', 'running') |
      map(attribute='service.systemd.name') | list }}"

- name: Destroy packages remove
  ansible.builtin.include_role:
    name: raven428.mega_var
    tasks_from: _apt.yaml
  vars:
    meva_packages: "{{ mesv_install_pkgs | default([]) | selectattr('package',
      'defined') | map(attribute='package') | map('combine', {'state': 'absent',
      'autoremove': true, 'purge': true}) | list }}"

- name: Remove apt repositories
  ansible.builtin.apt_repository:
  args: "{{ i.repo_file }}"
  register: _temp_result
  until: _temp_result is succeeded
  retries: 3
  delay: 1
  loop_control:
    loop_var: i
  loop: >-
    {%- set result = [] -%}
    {%- for item in mesv_install_pkgs | default([]) -%}
      {%- set new_item = item | combine({}, recursive=True) -%}
      {%- if 'repo_file' in item -%}
        {%- set new_item = new_item | combine({'repo_file': item.repo_file |
          combine({'state': 'absent', 'update_cache': false}, recursive=True)},
          recursive=True) -%}
        {%- set _ = result.append(new_item) -%}
      {%- endif -%}
    {%- endfor -%}
    {{ result }}

- name: Remove apt keys
  ansible.builtin.apt_key:
  args: "{{ i.repo_key }}"
  register: _temp_result
  until: _temp_result is succeeded
  retries: 3
  delay: 1
  loop_control:
    loop_var: i
  loop: >-
    {%- set result = [] -%}
    {%- for item in mesv_install_pkgs | default([]) -%}
      {%- set new_item = item | combine({}, recursive=True) -%}
      {%- if 'repo_key' in item -%}
        {%- set new_item = new_item | combine({'repo_key': item.repo_key |
        combine({'state': 'absent'}, recursive=True)}, recursive=True) -%}
        {%- set _ = result.append(new_item) -%}
      {%- endif -%}
    {%- endfor -%}
    {{ result }}

- name: Destroy users keys
  ansible.builtin.include_role:
    name: raven428.mega_var
    tasks_from: _key.yaml
  vars:
    meva_key2user: "{{ mesv_install_key2user | default([]) | map('combine',
      {'state': 'absent'}) | list }}"

- name: Destroy users remove
  ansible.builtin.include_role:
    name: raven428.mega_var
    tasks_from: _user.yaml
  vars:
    meva_users2create: "{{ mesv_install_users | default([]) | map('combine',
      {'state': 'absent'}) | list }}"

- name: Destroy groups remove
  ansible.builtin.include_role:
    name: raven428.mega_var
    tasks_from: _group.yaml
  vars:
    meva_groups2create: "{{ mesv_install_groups | default([]) | map('combine',
      {'state': 'absent'}) | list }}"

- name: Destroy dirs remove
  ansible.builtin.include_role:
    name: raven428.mega_var
    tasks_from: _file.yaml
  vars:
    meva_dirs2create: "{{ (mesv_install_templates | default([]) + mesv_config_templates |
      default([]) + mesv_remove_entries | default([])) | map(attribute='dest') |
      map('community.general.dict_kv', 'name') | map('combine', {'state': 'absent'}) |
      list }}"
