---
- name: Ensure systemd started service status
  ansible.builtin.systemd:
  args: "{{ i.systemd | dict2items | rejectattr('key', 'equalto', 'when') |
    items2dict | combine({'state': 'stopped'}) }}"
  when: "i.systemd.state | default('none') in ['started', 'restarted', 'reloaded'] |
    default(false)"
  loop_control:
    loop_var: i
  loop: "{{ mesv_install_service | default([]) + mesv_config_service | default([]) }}"

- name: Start service with role
  ansible.builtin.include_role:
    name: raven428.mega_launch
  vars:
    melau: "{{ i.launcher }}"
  when: "i.launcher.start_enable | default(false) or i.launcher.start_mod_enable |
    default(false)"
  loop_control:
    loop_var: i
  loop: "{{ mesv_install_service | default([]) + mesv_config_service | default([]) }}"
